<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <%= is_active('index') %>" href="/index"><i class="fas fa-list"></i> Index</a>
  </li>
  <% if params[:action] == 'show' %>
    <li class="nav-item">
      <a class="nav-link <%= is_active('show')%> disabled"> <i class="fas fa-info-circle"></i> Information </a>
    </li>
  <% end %>
  <% if params[:action] == 'edit' %>
    <li class="nav-item">
      <a class="nav-link <%= is_active('edit')%> disabled"> <i class="fas fa-pencil-alt"></i> Edit Entry </a>
    </li>
  <% end %>
</ul>