<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <%= is_active('index') %>" href="/user"><i class="fas fa-list"></i> Index</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= is_active('new') %>" href="/user/new"><i class="fas fa-plus"></i> Add New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= is_active('search')%>" href="/user/search"> <i class="fas fa-info-circle"></i> Search Users </a>
  </li>
    <li class="nav-item">
      <a class="nav-link <%= is_active('show')%> disabled"> <i class="fas fa-info-circle"></i> Information </a>
    </li>
</ul>