<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <%= is_active('index') %>" href="/user">Index</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= is_active('new') %>" href="/user/new">Add New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>